.listing__photo {
  height: 600px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.description__heading {
  font-size: 48pt;
  font-weight: bold;
  margin-bottom: 15px;
}

.description__location {
  font-size: 24pt;
  margin-bottom: 15px;

  &::before {
    content: url('/assets/location-pin.svg') / '';
  }
}

.features__heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing__features {
  margin-bottom: 20px;
}

.features__list-item {
  font-size: 14pt;
  list-style-type: none;
}

@media (max-width: 1024px) {
  .listing__photo {
    width: 100%;
    height: 400px;
  }
}

/* TODO: revise the following styles when implementing form functionality */

.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

label,
input {
  display: block;
}

label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}

input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 0.3px;
}
