<article class="listing">
  <img
    class="listing__photo"
    [src]="housingLocation?.photo"
    alt="Exterior photo of {{ housingLocation?.name }}"
    crossorigin
  />
  <section class="description listing__description">
    <h1 class="description__heading">{{ housingLocation?.name }}</h1>
    <p class="description__location">{{ housingLocation?.city }}, {{ housingLocation?.state }}</p>
  </section>
  <section class="features listing__features">
    <h2 class="features__heading">About this housing location</h2>
    <ul class="features__list">
      <li class="features__list-item">Units available: {{ housingLocation?.availableUnits }}</li>
      <li class="features__list-item">Does this location have wifi: {{ housingLocation?.wifi }}</li>
      <li class="features__list-item">Does this location have laundry: {{ housingLocation?.laundry }}</li>
    </ul>
  </section>
  <section class="apply listing__apply">
    <h2 class="apply__heading">Apply now to live here</h2>
    <app-apply-form></app-apply-form>
  </section>
</article>
