.apply-form__label,
.apply-form__input {
  display: block;
}

.apply-form__label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}

.apply-form__input {
  font-size: 16pt;
  width: 400px;
  padding-inline: 10px;
  padding-block: calc(10px - var(--touch-area-padding));
  border: none;
  border-bottom: solid 0.3px;
  margin-top: var(--touch-area-padding);
  margin-bottom: calc(15px + var(--touch-area-padding) * 2);
}
