/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  --primary-color: #4441be;
  --secondary-color: #6e6cc7;
  --accent-color: #ebebfa;
  --border-color: #0d0b6b;
  --shadow-color: #e8e8e8;
  --accent-shadow-color: #cdcde4;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.input,
.link {
  border-radius: 2px;
}

.button,
.input,
.link,
.card {
  &:focus-visible {
    outline: solid 2px var(--border-color);
    outline-offset: 2px;
  }
}

.button_type_primary {
  color: white;
  background: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: 8px;
  padding: 10px;
}
